body, html {
    background-color: #626262;
    height: 100%;
}

h1, h2, h3, h4 h5, p, label {
    color: white;
}

.btnDimmer {
    margin-right: 5px;
}

.font-color-green {
    /*color: green;*/
    color: #66CD00;
}

.font-color-red {
    /*color: red;*/
    color: #FF4040;
}

.font-color-black {
    /*color: black;*/
    color: #000000;
}
